* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100%;
    font-family: Arial, sans-serif;
  }

  header {
    height: 40px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    margin: 10px;
  }
  .nav-header {
    margin: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .nav-header a {
    background-color: #184F1E;
    border-radius: 10px;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btnHeaer:hover{
    background-color: #ffffff33;
    border: 2px solid #184F1E;
  }

  main {
    min-height: calc(100vh - 120px); /* 100% height - header (80px) - footer (80px) */
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    background: #184f1e;
background: linear-gradient(90deg,rgba(24, 79, 30, 1) 10%, rgba(6, 20, 8, 1) 33%, rgba(0, 0, 0, 1) 69%, rgba(24, 79, 30, 1) 94%);
  }

  footer {
    height: 80px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #seccionMuestraVS {
    padding: auto;
  }
  #seccionMuestraVS h1, h3 {
    text-align: center;
    color: antiquewhite;
  }
  #seccionMuestraEqipos {
    padding: 5%;
    display: flex;
    justify-content: center;
  }

  #seccionMuestraEqipos div {
    width: 75px;
    height: 75px;
  }
  #seccionMuestraEqipos div img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px;
    background-color: wheat;
  }
  


  #seccionMuestraTargetas{
    padding: auto;
    display: flex;
    justify-content: space-around;
  }
  .divGeneralMuestraVS {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .gridVersusContainer {
    background-color: #ffffff;
    border: 2px dashed #999;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: auto;
  }  
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    padding: 1vh;
    font-size: 16px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .button-container button:hover {
    background-color: #0077cc;
  }

  /* Contenedor central */

  #versusContainer{
    width: 25%;
  }

  #versusContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
      
  }

  /*seccionMuestraTargetas*/
  #seccionMuestraTargetas div {
    height: auto;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    overflow-wrap: break-word;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    background-color: grey;
    border-radius: 20%;
  }
  #seccionMuestraTargetas div h4{
    margin: 10px;
  }
    #seccionMuestraTargetas img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 50px;
  }

  /*Table Coleciones*/
  #seccionTablaColeccion table, th, td {
    border: 1px solid black;
    background: grey;
    text-align: center;
  }
  #seccionTablaColeccion table{
    width: 100%;
    justify-content: center;
  }